.dot__small{
    position: absolute;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 100%;
    background-color:grey;
    transform-origin: 0% 50%;
    opacity: 0;
    transition : all ease 0.3s;
    @for $i from 1 through 80 {
        &:nth-child(#{$i}) {
            transition-delay: 0.02s*$i;
        }
    }
}

.dot__big{
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 100%;
    border: 0.15rem solid $black;
    background-color: #fff;
    transition : all ease 0.3s;
    cursor:pointer;
    opacity: 0;
    @for $j from 1 through 4 {
        &:nth-child(#{$j}) {
            transition-delay: 0.3s*$j;
        }
    }
}

// animations
.active-dot{
    animation: 0.2s ease-out forwards 1 activeDot;
}

@keyframes activeDot{
    50%{
        transform: scale(1.25);
        background-color:$blue;
    }
    100%{
        transform: scale(1);
        background-color:$blue;
    }
}

.active-step{
    animation: 0.5s ease forwards 1 activeStep;
    transform: translate(-30%, -30%);
}

@keyframes activeStep{
    100%{
        transform: scale(0.8);
        border: 0.3rem solid $blue;
    }
}
