.step__title{
    text-align: center;
    @include responsive($medium) {
        text-align: right;
    }
    h3{
        text-transform: uppercase;
        font-family: $headline;
        font-size: 2.125em;
        font-weight: bold;
        color: $blue;
        letter-spacing: -0.1rem;
        margin-bottom: 1rem;
    }
    p{
        font-family: $body;
        color:grey;
    }
}

.step__content{
    width: 20rem;
    font-family: $body;
    font-size: 1.2em;
    line-height: 1.5;
}
