.board-data {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    z-index: $zindex-2;
    padding-top: 25vh;
    padding-bottom: 25vh;
}