@charset "UTF-8";

// Colors
$grey : #ebebeb;
$blue: #0760fe;

// Transitions
$cubicB-1: all 0.7s cubic-bezier(1, 0.01, 0.04, 1.04);

// Z-index
$zindex: 1;
$zindex-2: 5;
$zindex-3: 10;
$zindex-4: 15;
$zindex-5: 20;

// Breakpoints
$xSmall: 544px;
$small: 768px;
$medium: 992px;
$large: 1200px;
